.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    border-radius: 18px;

    padding: 30px;

    margin-bottom: 25px;

    box-shadow: 0 8px 25px rgba(0,0,0,.05);
}

.welcome-left{
    max-width: 700px;
}

.welcome-badge{
    display:inline-block;

    background:#eef5ff;
    color:#2563eb;

    padding:6px 14px;

    border-radius:30px;

    font-size:14px;
    font-weight:600;

    margin-bottom:15px;
}

.welcome-left h1{
    font-size:38px;
    margin-bottom:12px;
    color:#111827;
}

.welcome-text{
    color:#6b7280;
    line-height:1.7;
    max-width:650px;
}

.welcome-right{
    display:flex;
    gap:18px;
}

.info-card{
    background:#f8fafc;

    min-width:220px;

    padding:18px;

    border-radius:16px;

    border:1px solid #e5e7eb;
}

.label{
    display:block;

    color:#64748b;

    margin-bottom:10px;

    font-size:14px;
}

.info-card h3{
    font-size:18px;
    color:#111827;
}