.footer {
    padding: 70px 8% 30px;

    background:
        linear-gradient(
            180deg,
            #ffffff,
            #f8fafc
        );

    border-top: 1px solid #e2e8f0;
}

.footer-content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;

    padding-bottom: 40px;
}

.footer-brand h3 {
    font-size: 2rem;
    font-weight: 800;
    color: #2563eb;
    margin-bottom: 15px;
}

.footer-brand p {
    color: #64748b;
    line-height: 1.8;
    max-width: 320px;
}

.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links h4,
.footer-contact h4 {
    color: #0f172a;
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #64748b;
    transition: .3s;
}

.footer-links a:hover {
    color: #2563eb;
    transform: translateX(4px);
}

.footer-contact p {
    color: #64748b;
}

.footer-bottom {
    border-top: 1px solid #e2e8f0;

    padding-top: 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    gap: 12px;
}

.socials a {
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    text-decoration: none;

    background: white;

    box-shadow:
        0 8px 20px rgba(15,23,42,.05);

    transition: .3s;
}

.socials a:hover {
    transform: translateY(-4px);
    box-shadow:
        0 15px 30px rgba(37,99,235,.15);
}

.footer-bottom p {
    color: #64748b;
    font-size: .95rem;
}

@media(max-width:900px){

    .footer-content{
        grid-template-columns:1fr;
        text-align:center;
    }

    .footer-brand p{
        margin:auto;
    }

    .footer-bottom{
        flex-direction:column;
        gap:20px;
    }
}